.main-page {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.url-table{
  height: 50rem; 
  overflow-y: scroll;
}

.row-table:hover {
  /* background-color: ; */
  color: black;
  font-weight: bold;
  font-size: larger;
  border: 0.3rem solid black;
}

#copy-btn{
  border: 0;
}

.link {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
